/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
}

/* Media query for screens up to 768px */
@media (max-width: 768px) {
  /* Hide search icon */
  .searchicon {
    display: none;
  }

  
}

/* Media query for screens above 769px */
@media (min-width: 769px) {
  /* Show search icon inline */
  .searchicon {
    display: inline-flex;
  }
}

@media (max-width:1024px) {

  .become{
    display: none;
  }
     
}

@media (max-width:375px) {
  .globe{ 
    display: none;
  }
  
}



/* General header nav bar */
.nav {
  position: sticky;
  top: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: rgb(255, 255, 255);
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  z-index: 50;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.45);
}

/* Left section of the nav where the image is located */
.nav1 {
  display: flex;
  width: 100%;
}

/* First image and the Airbnb image */
.img1 {
  padding-top: 0.8px;
  padding-bottom: 0.4px;
  width: 85px;
  cursor: pointer;
  height: 30px;
}

/* Middle section of the nav where the search bar is located */
.nav2 {
  display: flex;
  align-items: center;
  padding: 0.1rem;
  border-radius: 20px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  padding-top: 0.8px;
  padding-bottom: 0.4px;
  
  

}

/* Magnifying glass icon */
.searchicon {
  height: 10px;
  background-color: rgb(219, 123, 123);
  color: white;
  padding: 0.5rem;
  border-radius: 20px;
  cursor: pointer;
}

/* Search bar */
.searchbar {
  border-radius: 50px;
  border: 2px solid rgb(255, 255, 255);
  width: 100%;
  padding: 5px;
  padding-left: 10px;
  outline: none;
  color: gray;
  background-color: transparent;
}


/* this is the third section of the nav bar */
.nav3{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;


}

/* this is the become text on the nav bar */
.become{
 margin-left: 200px;
}
.become:hover{
  color: red;
  
}

/* this is the  globe icon  */
.globe{
  height: 20px;
  margin-left: 15px;
  margin-right: -50px;
  color:rgb(61, 57, 57);
}         

/* this is section containing two other icon */
.section{
  border: 1px solid gray;
  border-radius: 5px;
  display: flex;
  height: 19px;
  padding: 0.2em;
  margin-top: 0.1em;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  justify-content: center;
  text-align: center;
  justify-content: center;
   margin-left: 80px;
}

.usericon{
  color:rgb(61, 57, 57);
  height: 15px;
  padding: 1;
}
.barsicon{
  color:rgb(61, 57, 57);
  height: 15px;
  padding-top: 1px;
}




